* {
  padding: 0;
  margin: 0;
}

/* ------------------------------------------ */
/* Header CSS */
/* ------------------------------------------ */
.header {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  background-color: #833dff;
  color: white;
  padding: 7px 20px;
}

.nav-bar {
  display: flex;
}
.img {
  margin: 10px 10px;
  font-size: 40px;
  color: black;
}
.search {
  height: 35px;
  width: 500px;
  border: none;
  text-align: center;
  border-radius: 10px;
  margin: 13px 0px;
}
.results {
  margin: 18px 0px;
}
.webName {
  margin: 12px 0px;
}
@media (max-width: 600px) {
  .header {
    font-size: 10px;
    padding: 0px;
  }
  .img {
    display: none;
  }
  .webName {
    margin: 24px 0px;
  }
  .search {
    width: 150px;
  }
  .results {
    margin: 30px 0px;
  }
}

/* ------------------------------------------ */
/* MovieList CSS */
/* ------------------------------------------ */
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 5px;
}
.box {
  margin: 5px;
  height: auto;
  padding: 5px 10px;
}
.btn-box {
  display: flex;
  justify-content: space-between;
}
.btn-toggle {
  border-radius: 20px;
  font-size: 30px;
  width: 30px;
  border: none;
  background-color: #833dff;
  color: white;
  font-weight: bolder;
}
.btn-toggle:hover {
  background-color: #843dffae;
}
.movie-img {
  height: 100px;
}
.movie-img1 {
  height: 300px;
  margin-left: 10px;
}
.movie-element {
  margin: 10px 0px;
  box-shadow: 1px 1px 8px;
  padding: 10px 20px;
  border-radius: 20px;
}
li {
  list-style: none;
}
@media (max-width: 600px) {
  .main {
    display: inline;
  }
  .btn-toggle {
  }
}
.movie-detail-container p {
  margin: 10px 2px;
}
.btn1 {
  background-color: #833dff;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 11px;
}
.btn1:hover {
  background-color: #843dffde;
}
.btn-add {
  padding: 10px;
  width: 300px;
  margin: 10px 172px;
  background-color: #833dff;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  border: none;
}
.btn-add:hover {
  background-color: #843dffd0;
}
@media (max-width: 600px) {
  .btn-add {
    width: 200px;
    margin: 10px 50px;
  }
}
.watched-movie-container {
  justify-content: space-evenly;
  display: flex;
}
.watched-container {
  margin: -10px 25px;
}
.watched-movie-detail {
  margin: 5px 0px;
  padding: 10px;
  font-size: 20px;
  box-shadow: 1px 1px 3px;
  background-color: #833dff;
  color: white;
  border-radius: 20px;
}
.btn-cross {
  border-radius: 18px;
  width: 25px;
  height: 23px;
  margin: 38px -20px;
  background-color: red;
  border: none;
}
.btn-cross:hover {
  scale: 1.2;
}
.Loadingstyle {
  font-size: 40px;
  font-weight: bold;
}
.dot {
  animation: dot-animation 1.4s infinite both;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes dot-animation {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
