* {
  padding: 0;
  margin: 0;
}
.header {
  background-color: rgba(0, 4, 255, 0.51);
  width: 100%;
  text-align: center;
  color: orangered;
  font-weight: 700;
  font-size: 34px;
  padding: 9px 0px;
}
.form {
  border: 2px solid black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.message {
}
.card {
  list-style-type: none;
  font-size: 30px;
  border: 2px solid red;
  height: 70vh;
  display: flex;
  justify-content: space-between;
}
.stats {
  border: 2px solid blue;
}
.updates {
}
.items {
  border: 2px solid blue;
  padding: 10px 40px;
  border-radius: 50px;
  font-weight: 700;
  color: #3116ee;
}

.button {
  border: 2px solid blue;
  padding: 10px 32px;
  border-radius: 47px;
  background: #00cfff73;
  font-weight: 700;
  color: #3116ee;
}
.button:hover {
  background-color: #00d0ffc8;
}
.cross {
  text-decoration: line-through;
}
.item button {
  border: none;
  background-color: white;
  color: red;
  font-size: larger;
}
.item button:hover {
  color: rgba(255, 0, 0, 0.7);
}
input {
  border: 2px solid blue;
  padding: 10px 40px;
  border-radius: 50px;
  font-weight: 700;
  color: #3116ee;
}
