* {
  padding: 0;
  margin: 0;
}
.header {
  background-color: rgba(187, 255, 0, 0.511);
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: larger;
}
.card {
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.personName {
  width: 100%;
  background-color: pink;
  color: blue;
  font-size: 30px;
}
.isolder {
  color: red;
}
